body {
  background-color: #962466;
  font-family: arial;
}
.container {
  margin:auto;
  max-width: 100%;
}
header
{
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 20px 15px 20px 30px;
  background-color: #ffadc3;
  color: #ffffff;
  font-size: 2.2em;
  max-width: 100%;
}
nav {
  background-color: #6e7e91;
  max-width: 100%;
}
.navlink:link, .navlink:visited {
  padding: 15px 20px 15px 20px;
  display: inline-block;
  color: #292F36;
  text-decoration: none;
  font-weight: bold;
}
.navlink:hover, .navlink:active {
  background-color: #ffadc3;
  color: #ffffff
}
main {
  background-color: #ff87a7;
  padding: 30px 20px 30px 20px;
  min-height: 300px;
  color: #FFFBFA;
  max-width: 97%;
  margin: auto;
  border: solid white;
  border-width: 1.5%;
  border-top: none;
  border-bottom: none;
}
footer {
  max-width: 100%;
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-family: system;
  background-color: #ffadc3;
  color: #FFFBFA;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.title {
  font-size: 2em;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.piczone {
  display: block;
  text-align: center;
}
.pic1 {
  width: 35%;
  height: auto;
  border: solid white;
  padding: 5px;
  margin: 2.5px;
}
.pic2 {
  width: 35%;
  height: auto;
  border: solid white;
  padding: 5px;
  margin: 2.5px;
}.pic3 {
  width: 35%;
  height: auto;
  border: solid white;
  padding: 5px;
  margin: 2.5px;
}.pic4 {
  width: 35%;
  height: auto;
  border: solid white;
  padding: 5px;
  margin: 2.5px;
}.pic5 {
  width: 35%;
  height: auto;
  border: solid white;
  padding: 5px;
  margin: 2.5px;
}
.home1 {
  max-width: 50%;
  margin: auto;

}
.minititle {
  text-align: center;
  font-size: 1.3em;
  display: block;
}
.home2 {
  max-width: 70%;
  margin: auto;
}
ul {
  margin:auto;
  margin-top: 20px;
  max-width: 58%;
}
.info1 {
  text-indent: 30px;
}
.info2 {
  text-indent: 30px;
}
.Gestation1 {
  text-indent: 30px;
}
.eating1 {
  text-indent: 30px;
}
