.kadetext {
	color:white;
	padding:4px 5px;
	text-align:center;
}
.hubtext {
	color:black;
	background-color:#F93;
	padding:4px 5px;
	text-align:center;
	display:inline-block;
	border-radius:5px;	
}
hr { 
	display:block;
	height:0.5px;
	background-color:#F93;
	border-color:#F93;
}
.navbtn {
	padding-top:2px;
	padding-bottom:2px;
	font-weight:bold;
	color:black;
	background-color:#F93;
	text-align:center;
	display:inline-block;
	border-radius:7px;
	text-decoration:none;
	border-style:solid;
	border-width:2px;
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:4ea;
}
.navbtn:hover, navbtn:active {
	color:#F93;
	background-color:white;
}

.content {
	line-height:22px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#F93;
	background-color:black;
	display:inline-block;
	border-radius:5px;
	border-style:solid;
	max-width:100%;
	margin:auto;
	border-width:1px;
	padding:15px 15px 15px 15px;
}

.copyright {
	line-height:25px;
	color:#F93;
	text-align:center;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:11.5px;