.title {
	font-weight:bold;
	color: black;
	font-family: arial;
	font-size: 2em;
	border: 10px solid;
	border-color: #ff8000;
	background-color: #ff8000;
	border-radius: 10px;
	text-align: center;
}
body {
	background-color: black;
}